body{

	font-family: Tahoma;
	background-color: grey;
	background-image: url("img_cv.jpg");
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
header{
	display: flex;
	justify-content: space-between;
	margin-right: 5%;
}
.test {
	height: 70%;
	overflow-y:scroll;
}

.information{
	/*border-style: solid;*/
	width: 300px;
    height: 200px;
	border-width: 2px;
}
.information ul{
	list-style: none ;
	font-size: 22px;
}
.nom{
	font-weight: 900;
	font-size: 30px;
}
.logo{
	/*border-style: solid;	*/
    width: 200px;
    height: 200px;
}
.titrecv {
	font-size: 45px;
	margin-left: auto;
	margin-right: auto;
	color: #0005A2;
	text-shadow: 1px 1px black;
	background-color: rgba(232,233,233, 0.5);
	width: 62%;
	text-align: center;
}

.categorie{
/*	border-style: solid;*/	
	border-radius: 15px;
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	background-color: #3E7EBD;
	color: white;
}

.competences ul{
	list-style: none ;
	padding-left: 20%;
}

.detail {
	/*border-style: solid;*/
	display: flex;
	flex-direction: column;
}
.ligne{
	display: flex;
	justify-content: flex-start;
}
.date{
	/*border-style: solid;*/
    width: 20%;
    height: 100px;
    font-weight: 900;
    color:green;
    text-align: center;
}
.description{
	/*border-style: solid;*/
	background-color: rgba(232,233,233, 0.5);
    height: 100px;
    width: 55%;
    border-left-style: solid;
    border-left-color: #01FEDC;
    padding-left: 5%;

}
